h1 {
  font-size: 64px;
}

h2 {
  font-size: 38px;
}

h3, a {
  font-size: 22px;
}

p, li, ul {
  font-size: 18px;
}

img {
  width: 100%;
}

body {
  background-color: #cccbe4;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/193/726/non_2x/white-cloud-on-bluy-sky-background-free-photo.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.ico {
	width: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7379d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #bbcdff;
}

.InfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media all and (max-width: 768px) {
  .InfoRow {
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
